header{
    background-color: #d49b9b;
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 20px; 
    padding-top: 30px; 
    height: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 7px 2px 2px black;
    background-image: linear-gradient(to bottom, black, red);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(116, 4, 65), rgb(252, 213, 249));
}
nav{
    text-align: center;
    background-color: rgb(226, 128, 235);
    padding: 10px;
    box-shadow: 0px 7px 7px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
footer{
    background-color: #550202; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 10px; /* Espaçamento interno */
}
footer p {
    font-size: 20px; /* Tamanho da fonte do texto */
    margin: 0; /* Remova as margens padrão para o parágrafo */
}