
body {
    margin: 10px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e1b2b6;
    text-align: center;
}

/*
.video-container {
    margin: 10px;
    max-width: calc(25% - 20px); /* Define o tamanho de cada quadrante (25% do espaço disponível)
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: left;
}*/

video {
    width: 100%; /* Define a largura do vídeo para 100% do contêiner pai */
    height: auto; /* Mantém a proporção original do vídeo */
}

.vertical {
    flex: 0 0 calc(21% - 20px); /* 25% de largura com espaço entre eles */
}

.horizontal {
    flex: 0 0 calc(50% - 20px); /* 50% de largura com espaço entre eles */
}

